.cont{
    height: auto;
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9980.jpg?t=st=1721044541~exp=1721048141~hmac=182f00e5efd58f0de8b4346cfa11a503d1cb9a64761b09d83f35043ba47f43ac&w=2000");
    background-size: cover;
    background-position: center;
    color: #3497aa;
    font-family: Arial, Helvetica, sans-serif;
    
}
.context-cont{
    width:80%;
    margin:auto;
    
    padding-top:100px;
}
.context-cont h1{
    font-size: 43px;
}
.context-cont h3{
    font-size: 25px;
    padding-top: 25px;
}
.context-cont h5{
    font-size: 20px;
    padding-top: 20px;
}
.context-cont span{
    font-size: 18px;
    padding-top: 20px;
}
.context-cont p{
    font-size: 16px;
    padding-top: 15px;
}
.signup-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.signup-form{
    background-color: #3497aa;
    color: #000000;
    padding: 40px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.signup-form button{
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.signup-form button:hover{
    background-color: #000000;
    color:#3497aa;
    border: none;
    padding: 15px;
    border-radius: 20px;
}
.each-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.each-input input{
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}
.each-input input::placeholder{
    color: #215964;
}

.login-option-cont{
    margin-left: 40px;
    width: 30%;
}
.login-option-cont h5{
    font-size: 20px;
    padding-top: 20px;
}
.login-option-cont span{
    font-size: 18px;
    padding-top: 20px;
}
.login-option-cont p{
    font-size: 16px;
    padding-top: 15px;
}
.login-option-cont button{
    background-color: transparent;
    color: #3497aa;
    border: 1px solid #3497aa;
    padding: 15px;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    margin-top: 15px;
}
.login-option-cont button:hover{
    background-color: #3497aa;
    color:#000000;
    border: none;
    padding: 15px;
    border-radius: 20px;
}
.why-us-cont{
    width:80%;
    margin: auto;
}
.why-us-cont h3{
    font-size: 25px;
    padding-top: 25px;
}
.why-us-cont ul{
    list-style-type: none;
}
.why-us-cont ul li{
    padding-top: 15px;
}
.why-us-cont ul li h5{
    font-size: 20px;
    padding-top: 20px;
}
.why-us-cont ul li p{
    font-size: 16px;
    padding-top: 15px;
}
.last-cont{
    width: 80%;
    margin: auto;
    font-size: 25px;
    margin-top: 80px;
    padding-bottom: 50px;
}
.error-msg{
    font-size: small;
    color: #95080f;
    font-weight: bold;
    margin-top: 20px;
}



@media (max-width: 720px) {
    .cont{
        height: auto;
    }
    .context-cont{
        width: 85%;
        
    }
    .context-cont h1{
        font-size: 30px;
    }
    .context-cont h3{
        font-size: 20px;
        padding-top: 25px;
    }
    .context-cont h5{
        font-size: 18px;
        padding-top: 20px;
    }
    .context-cont span{
        font-size: 16px;
        padding-top: 20px;
    }
    .context-cont p{
        font-size: 14px;
        padding-top: 15px;
    }
    .signup-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width:85%;
        margin:auto;
        padding-top: 50px;
    }
    .signup-form{
        background-color: #3497aa;
        color: #000000;
        padding: 40px;
        border: none;
        border-radius: 10px;
        width: auto;
    }
    
    .login-option-cont{
        margin-left: 0px;
        margin-top: 30px;
        width: auto;
    }
    .login-option-cont h5{
        font-size: 18px;
        padding-top: 20px;
    }
    .login-option-cont span{
        font-size: 18px;
        padding-top: 20px;
    }
    .login-option-cont p{
        font-size: 16px;
        padding-top: 15px;
    }
    .why-us-cont{
        width:85%;
        margin: auto;
    }
    .why-us-cont h3{
        font-size: 20px;
        padding-top: 25px;
    }
    .why-us-cont ul{
        list-style-type: none;
    }
    .why-us-cont ul li{
        padding-top: 15px;
    }
    .why-us-cont ul li h5{
        font-size: 18px;
        padding-top: 20px;
    }
    .why-us-cont ul li p{
        font-size: 14px;
        padding-top: 15px;
    }
    .last-cont{
        width: 85%;
        margin: auto;
        font-size: 20px;
        margin-top: 80px;
        padding-bottom: 50px;
    }
    
}